<!-- <p class="input-group">
  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
  <span class="input-group-btn">
    <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
  </span>
</p> -->



<!-- <div class="input-group date" id="bs-datepicker-component">
  <input type="text" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div> -->